<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191688799787-3mlej4p7dg24dqigqrc72m1ql9s6p2if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191688799787-3mlej4p7dg24dqigqrc72m1ql9s6p2if</string>
	<key>API_KEY</key>
	<string>AIzaSyCFM2GqJpgX_LiYGKFs-H_ZxNU_296uL1w</string>
	<key>GCM_SENDER_ID</key>
	<string>191688799787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-cb040</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-cb040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191688799787:ios:69211e31fb0e9f4ad55c6e</string>
</dict>
</plist>